@tailwind base;
@tailwind components;
@tailwind utilities;
/*radix colors*/
.dark, .dark-theme {
  --blue-1: #0a111e;
  --blue-2: #0f1828;
  --blue-3: #0f254d;
  --blue-4: #0d2e6a;
  --blue-5: #14397d;
  --blue-6: #1e468f;
  --blue-7: #2854a5;
  --blue-8: #2f64c4;
  --blue-9: #1f4790;
  --blue-10: #12377b;
  --blue-11: #83b5ff;
  --blue-12: #cee2ff;

  --blue-a1: #0012fe0e;
  --blue-a2: #0059fc19;
  --blue-a3: #0a60fd41;
  --blue-a4: #075efd60;
  --blue-a5: #1869ff74;
  --blue-a6: #2a76ff87;
  --blue-a7: #367dff9f;
  --blue-a8: #3980ffc0;
  --blue-a9: #2b76fe89;
  --blue-a10: #1466ff72;
  --blue-a11: #83b5ff;
  --blue-a12: #cee2ff;

  --blue-contrast: #fff;
  --blue-surface: #0e1f3f80;
  --blue-indicator: #1f4790;
  --blue-track: #1f4790;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --blue-1: oklch(17.8% 0.0291 261.2);
      --blue-2: oklch(20.8% 0.0346 261.2);
      --blue-3: oklch(27.2% 0.0793 261.2);
      --blue-4: oklch(31.7% 0.1115 261.2);
      --blue-5: oklch(36.3% 0.1231 261.2);
      --blue-6: oklch(40.9% 0.1292 261.2);
      --blue-7: oklch(46.2% 0.14 261.2);
      --blue-8: oklch(52.1% 0.1606 261.2);
      --blue-9: oklch(41.3% 0.1292 261.2);
      --blue-10: oklch(35.4% 0.1231 261.2);
      --blue-11: oklch(77.3% 0.1473 261.2);
      --blue-12: oklch(90.9% 0.0526 261.2);

      --blue-a1: color(display-p3 0 0.0706 0.9922 / 0.051);
      --blue-a2: color(display-p3 0.0667 0.3647 0.9961 / 0.093);
      --blue-a3: color(display-p3 0.1176 0.3804 1 / 0.24);
      --blue-a4: color(display-p3 0.1216 0.3765 1 / 0.358);
      --blue-a5: color(display-p3 0.1804 0.4157 1 / 0.437);
      --blue-a6: color(display-p3 0.2471 0.4706 1 / 0.509);
      --blue-a7: color(display-p3 0.2902 0.498 1 / 0.601);
      --blue-a8: color(display-p3 0.302 0.5059 1 / 0.727);
      --blue-a9: color(display-p3 0.251 0.4745 1 / 0.513);
      --blue-a10: color(display-p3 0.1686 0.4039 1 / 0.429);
      --blue-a11: color(display-p3 0.5725 0.7255 1 / 0.975);
      --blue-a12: color(display-p3 0.8353 0.8941 1 / 0.988);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.0627 0.1176 0.2275 / 0.5);
      --blue-indicator: oklch(41.3% 0.1292 261.2);
      --blue-track: oklch(41.3% 0.1292 261.2);
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
